@import "tailwindcss";

#root {
  text-align: center;
  font-family: "poppins";
}

@keyframes slow-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-slow-bounce {
  animation: slow-bounce 4s infinite ease-in-out;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 40s) linear infinite;
  animation-direction: var(--animation-direction, forwards);
}
